@use "../base/variables" as v;
@use "../base/mixin" as m;

.main{
    padding-top: 3rem;
    width: 100%;
    background-color: v.$color-blanco;
}

.cards{
    max-width: 750px;
    margin: 0 auto;
    @include m.mobile{
        margin: 0 1rem;
    }
    .card{
        padding-bottom: 2rem;
        border-bottom: 1px solid v.$color-oscuro;
        margin-bottom: 2.5rem;
        &:last-child{
            margin-bottom: 0;
        }
        .card-image{
            width: 100%;
            margin-bottom: 1rem;
            box-shadow: 1rem 1rem 0.1rem v.$color-claro;
        }
        .card-title{
            @include m.title(2.2rem, left, v.$color-oscuro, 0.5rem);
        }
        .card-text{
            @include m.texto(1.1rem, justify, v.$color-oscuro );
            line-height: 2;
            margin-bottom: 1rem;
        }
        .card-link{
            color: v.$color-secundario;
            font-family: v.$fuente-primaria;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}