$fuente-primaria:  "Rajdhani", sans-serif;
$fuente-secundaria:  "Lato", serif;

$color-primario:#13B0BB;
$color-secundario:#01BEA0;
$color-oscuro:#37383C;
$color-blanco:#fff;
$color-claro:#EDF6FC;

$desktop:1200px;
$medium:992px;
$mobile:768px;


